@import url('utilities.css');
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondry:#070606;

}
#foot-logo{
    width: 300px;
    padding:0 4rem;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    
}
#preloader{
    background: black url('./images/logo-icon.png') no-repeat center center;
    height: 100vh;
    width: 100%;
    z-index: 10450;
    position: fixed;
    background-size: 115%
}

header{
    background: var(--dark);
    clip-path: polygon(0 0,100% 0,100% 96% ,70% 87%,0 95%);
}

.container{
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}
@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width:1200px){
    .container{
        max-width: 1150px;
    }
}
header nav .left a{
    color:white;
    text-decoration: none;
    margin-right: 1rem;
    text-transform: uppercase;
    transition: all .3s ease;
    font-size: 13px;
}
header nav .left  a:hover,header nav .left a.active{
    color: var(--primary);
}
header nav{
    padding: 1.2rem 0
}
header nav .branding{
    margin-right: 3rem;
}
.hero{
    padding: 0 3rem;
}
.hero .left img{
 width: 400px;

}
.hero .right{
    margin-top: -7rem;
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: .5rem;
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: .9;
    margin-bottom: 2rem;

}
.hero .right h1 div{
    color: var(--primary);
}   
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
/* section */
section{
    margin: 3em 0;
}
section #aboutimg{
    height: 450px;
    
}
section .about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    line-height: 1.5rem;
    color: var(--ternary);
    margin-bottom: 1.5rem;
}
#icon{
    display: flex;
}
#icon a{
    background:var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: .5rem;
}
#icon a:hover{
    background: var(--primary);
    transition: all .4s ease;
}
.section-heading{
    color: var(--secondry);
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}
.section-heading span{
    color: var(--primary);
}
section.skill .card-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 7rem;
    grid-row-gap: 4rem;
    text-align: center;
}
section.skill .card-wrapper .card{
    text-align: center;
    background: var(--pure);
    padding: 3rem 2rem;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
}
section.skill .card-wrapper .card h2{
    margin-top: 1.5rem;
}
section.skill .card-wrapper .card img{
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    object-fit: cover;
}
/* section */
 
section .projects .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 15652px 0;
}
.slick-slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}
section.projects .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 8rem;
}
section.projects .slider .slide p{
    font-family: 'Lato' ,sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}
section.projects .slider .slide span a{
    text-decoration: none;
    color: rgb(17, 240, 147)
}
section.projects .slider .slide span a:hover{
    color: var(--primary);
}
section.projects .slider-dots{
    margin-top: 3rem;
}
section.projects .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.projects .slider-dots button{
    font-size: 0;
    width: 8px;
    margin-right: .3rem;
    height: 5px;
    border: none; 
    outline: none;
    border-radius: 50px;
    background:var(--ternary);
    cursor: pointer;
}
section.projects .dots li.slick-active button{
    background: var(--primary);
    width: 20px;
}

/* section */
section.education{
    background: var(--light);
}
section.education .sliders .slides img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 2rem;

}
.education.slick-slide img{
    margin: 15652px 0;
    
}
section.education .sliders .slides{
    text-align: center;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    padding: 0 8rem;
}
section.education .sliders .slides h6{
    font-family: 'Lato' ,sans-serif;
    color: var(--dark);
    font-size: 1rem;
    font-style: bolder;
    margin-bottom: 1rem;
    margin-left:3rem ;
}
section.education .sliders .slides span a{
    text-decoration: none;
    color: rgb(55, 207, 17)
}
section.education .sliders .slides span a:hover{
    color: var(--primary);
}
section.education .slider-dotss{
    margin-top: 3rem;
}
section.education .slider-dotss .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.education .slider-dotss button{
    font-size: 0;
    width: 8px;
    margin-right: .3rem;
    height: 5px;
    border: none; 
    outline: none;
    border-radius: 50px;
    background:var(--ternary);
    cursor: pointer;
}
section.education .dots li.slick-active button{
    background: var(--primary);
    width: 20px;  
}
/* section */
section.certificates{
    background: var(--dark);
    height: 30rem;
    clip-path: polygon(0 0,100% 0,100% 100% ,67% 92%,0 100%);
}
section.certificates .section-heading{
    color: var(--pure);
    padding: 15px 0;
}
section.certificates .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 4rem;
}
section.certificates .card-wrapper .card{
    display: flex;
}
section.certificates .card-wrapper img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    margin-right: 2rem;
}
section.certificates .card-wrapper .card  h1{
    color: var(--pure);
    font-family: 'Lato', sans-serif;
     margin-top: 15px;
     margin-bottom: 1rem;
}
section.certificates .card-wrapper .card  h1 img{
    width: 20px;
    height: 20px;
    margin: 5px;
}
section.certificates .card-wrapper .card  span{
    color: var(--ternary);
}
section.certificates .card-wrapper .card  a{
    color: var(--primary);
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
section.certificates .card-wrapper .card  a:hover{
    color: var(--ternary);
     
}
/* section */
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 2rem;
    height: 55px;
    width: 40px;

}
section.contact .card-wrapper .card h2{
    font-weight: 400;
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
}
section.contact .card-wrapper .card h6{
    font-size: .9rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 1rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
    font-size: 1rem;

}
section.contact .input-wrap-2 input{
    margin-bottom: 1rem;
    border: 2px solid var(--light);
    font-size: 1rem;
}
section.contact input{
    padding: .5rem;
    border: 3px solid var(--light);
    font-size: 1rem;
}
section.contact .input-wrap-2 textarea{
    padding: .5rem;
    border: 3px solid var(--light);
    font-size: 1.07rem;
}

section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}
/* footer */

footer{
    background: var(--dark);
    text-align: center;
    padding: 2rem;
    color: var(--pure);
}
#icons{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
#icons a{
    background:var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: .5rem;
}
#icons a:hover{
    background: var(--primary);
    transition: all .4s ease;
}


.site-main-wrapper{
    display: none;
}
/* 
.site-main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.hamberger img{
    width: 30px;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 4rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;

}
.open{
    transform: translateX(0);
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    
}
.times img{
    width: 30px;
}
.mobile-nav ul {
    list-style-type: none;
}
.mobile-nav ul li a{
    color: var(--secondry);
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 1rem;
} */

@media(max-width:1200px){
    section.skill .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width : 1024px){
    .site-main-wrapper{
        display: block;
        position: relative;
    }
    .hamberger{
        position: absolute;
        top: 40px;
        right: 40px;
        z-index: 11;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .hamberger img{
        width: 30px;
    }
    .mobile-nav{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
        background: var(--primary);
        width: 100%;
        /* height: 100%; */
        padding: 2rem;
        padding-top: 4rem;
        transform: translateX(-100%);
        transition: all .5s ease-in-out;
    
    }
    .open{
        transform: translateX(0);
    }
    .times{
        position: fixed;
        top: 30px;
        right: 30px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        
    }
    .times img{
        width: 30px;
    }
    .mobile-nav ul {
        list-style-type: none;
    }
    .mobile-nav ul li a{
        color: var(--pure);
        text-decoration: none;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    } 
    header #main-nav{
        display: none;
    }
    .hero .left img{
        width: 250px;
    }
    .hero .right h1{
        font-size: 3rem;
    }
    .hero{
        padding-top: 10rem;
    }
    header{
        clip-path: polygon(0 0,100% 0,100% 100%,27% 89%,0 100%);
    }
    .section .about .about-me-img{
        height: 350px;
    }
    section.skill .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    
 
section.certificates{
    height: 42rem;
}
    section.certificates .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    
    section.education .sliders .slides {
        padding: 0px 0px;
    }
}

@media(max-width:576px){
    .hero{
        flex-direction: column;
    }
    header{
        clip-path: polygon(0 0,100% 0,100% 100%,83% 95%,0 100%);

    }
    .hero .right{
        position: absolute;
        top:236px;
        padding: 0 1rem;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9));
    }
    .hero .left{
        margin-top: -5rem;
        margin-right: -9rem;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    section.skill .card-wrapper{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 0px;
    }
    section.education .sliders .slides {
        flex-direction: column;
        padding: 0,0;
       
    }
    section.education .sliders .slides h6 {
        margin-left: 0;
    }
    section.projects .slider .slide{
        padding: 0 1rem;
    }
    .section.certificates{
        height: 40rem;
    }
    section.certificates .card-wrapper{
        grid-gap: 2rem;
        
    }
    section.contact .card-wrapper {
        /* display: grid; */
        grid-template-columns: repeat(1,1fr);
        grid-gap: 0rem;
    }
    section.contact .input-wrap{
        grid-template-columns: repeat(1,1fr);
    }
    #foot-logo {
        width: 350px;
        padding: 0 70px;
    }
}
@media(max-width:768px){
    section.skill .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
}